.barra_superiore {
    width: 100%;
    height: 80px;
    background-color: rgb(43, 160, 214);
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
    position: relative;
}

.logo {
    height: 40px;
    margin-left: 200px;
    position: absolute;
    bottom: 0%;
}

.container {
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titolo_grande {
    margin: 0;
}

.Fonte {
    margin: 0;
    color: gray;
}

.Data {
    margin: 0;
    color: gray;
}

#autore {
    color: rgb(0, 119, 255);
    display: inline-block;
}

.evidenzia {
   background-color: yellow;
}

h6 {
margin: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul, li {margin-left: 0; 
        padding-left: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.prima_riga {
    background-color: lightskyblue;
    font-weight: bold;
    color: white;
}

#cinquanta {
    width: 50%;
}

.seconda_riga {
    background-color: aqua;
    color: black;
}

.terza_riga {
    background-color: white;
    color: black;
}

.suggerimenti {
    color: lightgrey;
}

.primo_sugg {
    width: 200px;
    height: 200px;
    background: url(img/monitor.jpg);
}

.secondo_sugg {
    width: 200px;
    height: 200px;
    background: url(img/graph.jpg);
}

.descrizione {
    color: white;
    text-align: center;
}


 



